fastapi
uvicorn
httpx
boto3
azure-storage-blob
redis
pypdf
langchain==0.2.10
langchain-anthropic==0.1.20
langchain-community==0.2.9
langchain-core==0.2.22
langchain-google-community==1.0.7
langchain-google-genai==1.0.8
langchain-google-vertexai==1.0.7
langchain-openai==0.1.17
langserve[all]
python-multipart
unstructured[docx]
unstructured[pptx]
unstructured[xlsx]
unstructured[markdown]
openpyxl
docx2txt
python-magic
python-pptx
docx
markdown
requests
jq